@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
* {
  margin:0;
}
body {
  font-family: 'Lato', sans-serif;
}
#menu {
  margin-left:auto;
  margin-right:auto;
  max-width:1400px;
  background-image:url('https://cdn.glitch.com/b54cf89a-9854-4f01-a545-04553711c46c%2Fiii.jpg?v=1584807370385');
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  height:800px;
}
ul {
  text-align:right;
  padding:30px;
}
li {
  display:inline;
  padding:10px;
  text-transform:uppercase;
  font-weight:900;
}
.menu-link {
  text-decoration:none;
  color:white;/*#FFFFFF | rgb(255,255,255)*/
  padding:8px;
  border-bottom:2px solid transparent;
  transition-duration:0.2s;
}
.menu-link:hover {
  border-bottom:2px solid #FF5805;
}
#oferta, #galeria {
  margin-left:auto;
  margin-right:auto;
  max-width:1400px;
  text-align:center;
  margin-bottom: 200px;
}
.trzy-kolumny {
  width:33.33%;
  float:left;
}
/* .trzy-kolumny img */
.zdj-oferta { 
  width:200px;
  height:200px;
  border-radius:50%;
  object-fit:cover;/*nie center*/
  margin-top:30px;
}
h1 {
  padding:40px;
  clear:both;
}
p {
  padding: 50px;
}
.zdj-galeria {
  width:700px;
  margin-left:auto;
  margin-right:auto;
}
.dwie-kolumny {
  width:50%;
  float:left;
}

#kontakt {
  margin-left:auto;
  margin-right:auto;
  max-width:1400px;
  height:500px;
  padding:40px;
  background-color:#26262626;
  font-size:80%;
}
form {
  margin-top:20px;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  color:white; 
  padding:20px;
}

fieldset {
  padding:20px;
  margin-bottom:10px;
}

legend {
  font-size:30px;
}

form label {
  font-size:18px;
}

form input {
  width:330px;
  height:30px;
  
}
textarea {
  width:330px;
}

.button {
  height:50px;
  width:150px;
  font-size:16px;
  background-color:#fa4a0a;
  padding:15px 32px;
  border:2px solid #fa4a0a;
  border-radius:4px;
  transition-duration:0.4s;
}

.button:hover {
  background-color:white;
  color:black;
  cursor:pointer;
}